node_modules
.DS_Store
.vercel
/deployment-url.txt
/error.txt

api/logs/*
api/static/**/*.json
api/static/**/*.xml

api/postgres/data/*
api/redis/data/*
api/postgres/init/*ferry-dump.sql

frontend/build

sysadmin/install-scripts

!**/.keep
