# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
yarn.lock
package-lock.json

# testing
coverage

# build artifacts
frontend/build
api/src/logs
api/static/seasons.json
api/static/catalogs/*.json

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.eslintcache
npm-debug.log*
.vercel
sysadmin/install-scripts
