node_modules
.DS_Store
.vercel
/deployment-url.txt
/error.txt

api/logs/*
api/static/**/*.json
api/postgres/data/*
api/redis/data/*
api/src/**/*.queries.ts

frontend/build

sysadmin/install-scripts

!**/.keep
