.info_combined {
  width: 100%;
}

.lable_bubble {
  font-weight: 550;
  color: rgb(136, 136, 136);
}

.metadata {
  font-weight: 600;
}

.rating_bubble,
.rating_bubble_unclickable {
  /* background-color: rgb(190, 221, 255); */
  border-radius: 8px;
  /* HAVE RATING BUBBLE ANIMATION */
  /* max-height: 24px; */
  /* NO RATING BUBBLE ANIMATION */
  max-height: 3rem;

  transition: max-height 0.2s ease-out;
}

.rating_bubble:hover {
  background-color: rgb(92, 168, 250);
  max-height: 50px;
  cursor: pointer;
  transition: max-height 0.2s ease-in;
}

.rating_bubble_unclickable:hover {
  max-height: 50px;
  cursor: default;
  transition: max-height 0.2s ease-in;
}

.rating_cell {
  width: 100%;
  text-align: center;
  border-radius: 6px;
  justify-content: center;
}

.evaluation_header {
  font-weight: 500;
  color: grey;
}

.hidden {
  opacity: 0;
  transition: 0.1s;
}

.shown {
  opacity: 1;
  transition: 0.2s;
  transition-delay: 0.2s;
  font-weight: 500;
}

.details {
  display: block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.requirements {
  font-weight: 500;
  color: rgb(252, 105, 105);
}

.filter_container:focus {
  outline: none;
}

.filter_container:focus-visible .evaluations_filter {
  outline: 2px solid #468ff2;
}

@media (hover: none) {
  .rating_bubble {
    max-height: 3rem;
    height: 3rem;
  }
  .rating_bubble:hover {
    max-height: 3rem;
    height: 3rem;
    transition: max-height 0s;
  }
}

.flag_info {
  margin-bottom: 0;
  padding-left: 1em;
}
