.backArrow {
  height: 30px;
}

.badges {
  height: auto;
}

.courseCodes {
  height: auto;
  font-size: 16px;
  line-height: 20px;
}

.cancelledText {
  color: rgb(255, 98, 98);
}

.dialog {
  max-width: 800px !important;
  /* max-width: none !important; */
}
