.backArrow {
  height: 30px;
}

.badges {
  height: auto;
}

.courseCodes {
  height: auto;
  font-size: 16px;
  line-height: 20px;
}

.cancelledText {
  color: rgb(255, 98, 98);
}

.dialog {
  max-width: 800px !important;
  /* max-width: none !important; */
}

.moreInfo {
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.moreInfo:hover {
  filter: brightness(80%);
}
