.backArrow {
  height: 30px;
}

.badges {
  height: auto;
}

.courseCodes {
  height: auto;
  font-size: 16px;
  line-height: 20px;
}

.cancelledText {
  color: rgb(255, 98, 98);
}

.dialog {
  max-width: 800px !important;
}

.dialog :global(.modal-content) {
  background-color: var(--color-surface);
  border: none !important;
  border-radius: 8px !important;
  /* max-height: 80% !important;
  min-height: 80% !important; */
  height: 90% !important;
}

.dialog :global(.modal-header) {
  display: flex !important;
  padding: 1rem 1rem 0.5rem 1rem !important;
}

.dialog :global(.modal-header) :global(.close) {
  color: var(--color-text);
}

.dialog :global(.modal-dialog) {
  transition: transform 0.1s ease-out !important;
}

.modalTitle {
  font-weight: 550;
  line-height: 1.2 !important;
}

@media (max-width: 767px) {
  .modalTop {
    flex-direction: column !important;
  }

  .modalTitle {
    line-height: 1 !important;
    font-size: 18px !important;
  }

  .dialog :global(.modal-dialog) {
    margin: 1.75rem 0.5rem;
  }
}

.moreInfo {
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--color-select-multivalue);
  color: var(--color-text-primary);
}

.moreInfo:hover {
  filter: brightness(80%);
}
