.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.questionTitle {
  font-weight: bold;
}

.questionText {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
