.question_header {
  color: inherit;
  font-weight: 600;
  font-size: 14px;
}

.sort_by {
  font-size: 15px;
}

.sort_options {
  border-radius: 5px;
  overflow: hidden;
}

mark {
  padding: 0px;
  border-radius: 3.5px;
}
