.questionHeader {
  color: inherit;
  font-weight: 600;
  font-size: 14px;
}

.sortBy {
  font-size: 15px;
}

.sortOptions {
  border-radius: 5px;
  overflow: hidden;
}

.sortOption {
  padding: 3px 5px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--color-border);
  color: var(--color-text-tertiary);
}

.sortOption.activeSortOption {
  background-color: rgb(92 168 250 / 50%);
  color: var(--color-text-primary);
}

.sortOption:not(.activeSortOption):hover {
  background-color: var(--color-select-multivalue);
}

mark {
  padding: 0;
  border-radius: 3.5px;
}

.tabs {
  font-weight: 500;
  position: sticky;
  top: -1rem;
  background-color: var(--color-surface);
}

.tabs :global(.active) {
  color: #468ff2 !important;
  background-color: var(--color-surface) !important;
  border-bottom: none;
}

.tabs :global(.nav-item) {
  color: var(--color-text);
}

.tabs :global(.nav-item):hover {
  background-color: var(--color-banner);
}

.commentRow {
  font-size: 14px;
  font-weight: 450;
  border-bottom: 1px solid var(--color-select-multivalue);
}
