.container {
  height: 130px;
}

.bar {
  text-align: center;
}

.column {
  width: 15px;
  border-radius: 10px;
}

.value {
  font-size: 13px;
  font-weight: 600;
  height: 18px;
  opacity: 1;
  transition: opacity 0.3s;
}

.label {
  font-size: 10px !important;
  width: 55px;
  text-align: center;
  color: #468ff2;
}

/* Comment out below for hover statistic functionality */

/* .value {
  opacity: 0 !important;
}

.container:hover .value {
  opacity: 1 !important;
} */

@media (hover: none) {
  .value {
    opacity: 1;
  }
  .container {
    margin-top: 25px;
  }
}
