.info_combined {
  width: 100%;
}

.lable_bubble {
  background-color: rgb(223, 223, 223);
  padding: 6px;
  border-radius: 10px;
}

.rating_bubble {
  background-color: rgb(190, 221, 255);
  border-radius: 8px;
  max-height: 24px;
  transition: background-color 0.3s;
  transition: max-height 0.2s ease-out;
}

.rating_bubble:hover {
  background-color: rgb(92, 168, 250);
  max-height: 50px;
  cursor: pointer;
  transition: max-height 0.2s ease-in;
}

.evaluation_header {
  font-weight: 500;
  color: grey;
}

.hidden {
  opacity: 0;
  transition: 0.1s;
}

.shown {
  opacity: 1;
  transition: 0.2s;
  transition-delay: 0.2s;
  font-weight: 500;
}
