.back_arrow {
  color: rgb(190, 221, 255);
  /* padding: 6px;
  border-radius: 5px;
  background-color: rgb(223, 223, 223); */
  transition: 0.3s;
}

.back_arrow:hover {
  color: #007bff;
  cursor: pointer;
}
