.info_combined {
  width: 100%;
}

.lable_bubble {
  background-color: rgb(223, 223, 223);
  padding: 6px;
  border-radius: 10px;
  font-weight: 550;
  color: rgb(100, 100, 100);
}

.metadata {
  font-weight: 600;
}

.rating_bubble {
  background-color: rgb(190, 221, 255);
  border-radius: 6px;
  height: 1.5em;
  transition: background-color 0.3s;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.rating_bubble:hover {
  background-color: rgb(92, 168, 250);
  cursor: pointer;
  transition: height 0.2s ease-in;
  height: 3rem;
}

.rating_cell {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evaluation_header {
  font-weight: 500;
  color: grey;
}

.hidden {
  display: none !important;
  transition: 0.1s;
}

.shown {
  display: block;
  transition: 0.2s;
  transition-delay: 0.2s;
  font-weight: 500;
}

@media (hover: none) {
  .rating_bubble {
    height: 3rem !important;
  }
  .rating_bubble:hover {
    height: 3rem !important;
    transition: height 0s ease-in;
  }
}
