.info_combined {
  width: 100%;
}

.lable_bubble {
  background-color: rgb(223, 223, 223);
  padding: 6px;
  border-radius: 10px;
}

.rating_bubble {
  background-color: rgb(190, 221, 255);
  border-radius: 8px;
}

.rating_bubble:hover {
  background-color: rgb(90, 157, 228);
  cursor: pointer;
}

.evaluation_header {
  font-weight: 500;
  color: grey;
}
