.modal-custom-width {
  width: 700px !important;
  max-width: none !important;
}

.modal-content {
  /* max-height: 80% !important;
  min-height: 80% !important; */
  height: 80% !important;
}

.modal-title {
  font-weight: 550;
  line-height: 1.2 !important;
}

.modal-header {
  display: flex !important;
  padding: 1rem 1rem 0.5rem 1rem !important;
}

.nav-link.active {
  color: #007bff !important;
}

.nav-link.active:hover {
  background-color: white !important;
}

.nav-link {
  color: rgba(1, 1, 1, 0.6) !important;
  font-weight: 500 !important;
  transition: 0.3s !important;
}

.nav-link:hover {
  color: #007bff !important;
  background-color: rgb(233, 233, 233) !important;
}
