.info_combined {
  width: 100%;
}

.lable_bubble {
  background-color: rgb(223, 223, 223);
  padding: 6px;
  border-radius: 10px;
  font-weight: 550;
  color: rgb(100, 100, 100);
}

.metadata {
  font-weight: 600;
}

.rating_bubble {
  background-color: rgb(190, 221, 255);
  border-radius: 8px;
  max-height: 24px;
  transition: background-color 0.3s;
  transition: max-height 0.2s ease-out;
}

.rating_bubble:hover {
  background-color: rgb(92, 168, 250);
  max-height: 50px;
  cursor: pointer;
  transition: max-height 0.2s ease-in;
}

.rating_cell {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evaluation_header {
  font-weight: 500;
  color: grey;
}

.hidden {
  opacity: 0;
  transition: 0.1s;
}

.shown {
  opacity: 1;
  transition: 0.2s;
  transition-delay: 0.2s;
  font-weight: 500;
}

.read_more {
  color: #007bff;
  transition: 0.3s;
}

.read_more:hover {
  cursor: pointer;
  color: rgb(49, 94, 192);
}

.requirements {
  font-weight: 500;
  color: rgb(252, 105, 105);
}

@media (hover: none) {
  .rating_bubble {
    max-height: 3rem;
    height: 3rem;
  }
  .rating_bubble:hover {
    max-height: 3rem;
    height: 3rem;
    transition: max-height 0s;
  }
}
