.back_arrow {
  color: rgb(190, 221, 255);
  transition: 0.3s;
  height: 30px;
  display: flex;
}

.back_arrow:hover {
  color: #007bff;
  cursor: pointer;
}

.badges {
  height: auto;
}

.course_codes {
  height: auto;
  font-size: 16px;
  line-height: 20px;
}
