.container,
.dropdown,
.dropdown-menu,
.dropdown-toggle {
  width: 100%;
}

.dropdown-menu {
  max-height: 50vh;
  min-width: 0 !important;
  overflow: scroll;
}

.dropdown-toggle {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
  box-shadow: none !important;
}
