/* Hide the arrow dropdown and replace it with an x for all multi-select react select componenets*/
.css-tlfecz-indicatorContainer ~ .css-tlfecz-indicatorContainer,
.css-1gtu0rj-indicatorContainer ~ .css-1gtu0rj-indicatorContainer {
  display: none !important;
}

.css-1wa3eu0-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
