.footer {
  border-top: 1.5px solid var(--color-border);
  transition: border-color var(--trans-dur);
}

.footerLogo {
  font-size: 2rem;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: inherit;
}

.sectionHeading {
  transition: color var(--trans-dur);
}
