.collapse_container {
  width: 200px;
  position: absolute;
  top: 66px;
  right: 10px;
  /* background-color: white; */
  z-index: calc(420 + 69);
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translate(0px, -10px);
}

.collapse_text {
  color: inherit;
  font-weight: 500;
}

.collapse_text:hover {
  cursor: pointer;
  text-decoration: none !important;
}
