.collapse_container {
  width: 200px;
  position: absolute;
  right: 10px;
  background-color: white;
  z-index: 420;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translate(0px, -10px);
}

.collapse_text {
  color: rgba(1, 1, 1, 0.6);
  font-weight: 500;
}

.collapse_text:hover {
  color: #007bff;
  cursor: pointer;
  text-decoration: none !important;
}
