.navbar {
  background: white;
}

.nav_logo {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar_links {
  padding: 0.5rem 1rem !important;
  transition: 0.33s ease-out;
  color: rgba(1, 1, 1, 0.6);
  font-weight: 500;
}

:global .active {
  color: #007bff;
}

.navbar_links:hover {
  text-decoration: none !important;
  color: #007bff;
}

.navbar_me {
  padding-left: 1rem;
  height: 40px;
  display: flex;
}

.icon_circle {
  background-color: rgba(1, 1, 1, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  transition: 0.3s;
  color: rgba(1, 1, 1, 0.6);
}

.icon_circle:hover {
  color: #007bff;
  background-color: rgba(1, 1, 1, 0.05);
  cursor: pointer;
}
