.navbar {
	background: white;
}

.navbar_links {
	padding: 0.5rem 1rem !important;
	transition: 0.33s ease-out;
	color: rgba(1, 1, 1, 0.6);
	font-weight:500;
}

:global .active{
	color: #007bff;
}

.navbar_links:hover {
	text-decoration: none !important;
	color: #007bff;
}
