.navbar {
  background: white;
}

nav > .nav_brand {
  padding-top: 0;
  padding-bottom: 0;
}

.nav_logo {
  font-size: 1.6rem;
}

.navbar_links {
  padding: 0.5rem 1rem 0.5rem 0rem !important;
  transition: 0.33s ease-out;
  color: rgba(1, 1, 1, 0.6);
  font-weight: 500;
}

:global .active {
  color: #007bff;
}

.navbar_links:hover {
  text-decoration: none !important;
  color: #007bff;
}

.navbar_me {
  padding-left: 1rem;
  height: 40px;
  display: flex;
}

.navbar_dark_mode_btn {
  padding: 0.5rem 1rem 0.5rem 0rem !important;
  transition: 0.33s ease-out;
}

.navbar_dark_mode_btn:hover {
  cursor: pointer;
  color: rgb(51, 162, 255);
}

.icon_circle {
  background-color: rgba(1, 1, 1, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  transition: 0.3s;
  color: rgba(1, 1, 1, 0.6);
}

.icon_circle:hover {
  color: #007bff;
  background-color: rgba(1, 1, 1, 0.05);
  cursor: pointer;
}

.search_bar_mid {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: calc(120px + 30vw);
}

.search_bar_relative {
  margin: 0 1rem;
  /* width: 30vw;  */
  width: 26vw;
}
