.back_arrow {
  height: 30px;
}

.badges {
  height: auto;
}

.course_codes {
  height: auto;
  font-size: 16px;
  line-height: 20px;
}

.cancelled_text {
  color: rgb(255, 98, 98);
}

:global .modal-custom-width {
  max-width: 1000px !important;
  /* max-width: none !important; */
}

:global .modal-content {
  border: none !important;
  border-radius: 8px !important;
  /* max-height: 80% !important;
  min-height: 80% !important; */
  height: 100% !important;
}

:global .modal-title {
  font-weight: 550;
  line-height: 1.2 !important;
}

:global .modal-title-mobile {
  font-weight: 550;
  font-size: 18px !important;
}

:global .modal-header {
  display: flex !important;
  padding: 1rem 1rem 0.5rem 1rem !important;
}

:global .modal-dialog {
  transition: transform 0.1s ease-out !important;
}
