.banner {
  min-height: 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(68, 103, 196, 1) 0%,
    rgba(101, 155, 223, 1) 50%,
    rgba(135, 206, 251, 1) 100%
  );
}

.banner .content {
  flex-grow: 1;
  font-size: 0.9em;
  padding: 10px 5px;
  text-align: center;
}

.banner .close_button {
  width: 30px;
  transition: 0.33s ease-out;
}
.banner .close_button:hover {
  cursor: pointer;
  color: rgb(51, 162, 255);
}
