.search_result_item {
  border: 0px !important;
  background-color: white !important;
  transition: 0.3s;
}

.search_result_item:hover {
  cursor: pointer;
  background-color: #e1edff !important;
}

.course_name {
  font-weight: bold;
}

.course_code {
  display: inline;
}

.dot {
  display: inline;
}

.course_section {
  display: inline;
  color: rgba(1, 1, 1, 0.4);
}

.extra_info {
  background-color: #e23e57;
  color: white;
  border-radius: 4px;
  width: max-content;
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  font-size: 0.75rem;
}

.overall_rating {
  font-weight: bold;
}

.workload_rating {
  font-weight: bold;
}

.tag {
  margin: 1px;
  padding: 4px;
  border-radius: 6px;
}

.Hu {
  background-color: #9970ab !important;
}

.So {
  background-color: #4393c3 !important;
}

.Sc {
  background-color: #5aae61 !important;
}

.QR {
  background-color: #cc3311 !important;
}

.WR {
  background-color: #ec7014 !important;
}

.L1,
.L2,
.L3,
.L4,
.L5 {
  background-color: #000000 !important;
}

.none {
  background-color: rgb(102, 102, 102) !important;
}

.friends_count {
  display: flex;
  align-items: center;
}

.toggle_worksheet {
  background-color: white !important;
  color: rgba(1, 1, 1, 0.6) !important;
  border: none !important;
  border-radius: 8px !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

.toggle_worksheet:hover {
  background-color: rgba(1, 1, 1, 0.1);
  color: black;
}

.toggle_worksheet_mobile {
  border-radius: 8px;
  font-size: 1rem;
}

.expanded_card {
  background-color: white;
}
