.item_container {
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  transition: 0.3s;
}

.item_container:hover {
  background-color: rgba(220, 236, 255, 0.5);
  /* transform: scale(1.05); */
  cursor: pointer;
}

.course_codes {
  font-weight: 500;
  color: rgb(47, 123, 167);
}

.professors {
  font-weight: 550;
  color: rgb(78, 78, 78);
}

.small_text {
  font-weight: 500;
  color: rgb(78, 78, 78);
}

.one_line {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.worksheet_btn {
  position: absolute;
  top: -12px;
  right: 3%;
  transition: 0.3s;
}

.worksheet_btn:hover {
  transform: translateY(6px);
}
