.search_result_item:hover {
  cursor: pointer;
}

.search_result_item:hover .course_header {
  text-decoration: underline;
}

.course_code {
  font-weight: bold;
  display: inline;
}

.dot {
  display: inline;
}

.course_section {
  display: inline;
  color: rgba(1, 1, 1, 0.4);
}

.overall_rating {
  font-weight: bold;
}

.workload_rating {
  font-weight: bold;
}

.tag {
  margin: 1px;
  padding: 4px;
  border-radius: 6px;
}

.Hu {
  background-color: #9970AB !important;
}

.So {
  background-color: #4393C3 !important;
}

.Sc {
  background-color: #5AAE61 !important;
}

.QR {
  background-color: #CC3311 !important;
}

.WR {
  background-color: #EC7014 !important;
}

.L1,
.L2,
.L3,
.L4,
.L5 {
  background-color: #000000 !important;
}

.friends_count {
  display: flex;
  align-items: center;
}

.toggle_worksheet {
  background-color: white !important;
  color: rgba(1, 1, 1, 0.6) !important;
  border: none !important;
  border-radius: 8px !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

.toggle_worksheet:hover {
  background-color: rgba(1, 1, 1, 0.1);
  color: black;
}

.toggle_worksheet_mobile {
  border-radius: 8px;
  font-size: 1rem;
}
