.container {
  transition: 0.3s;
}

.container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.container:hover .item_container {
  background-color: rgba(220, 236, 255, 0.5);
}

.item_container {
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  transition: 0.3s;
}

/* .item_container:hover {
  background-color: rgba(220, 236, 255, 0.5);
  cursor: pointer;
} */

.course_codes {
  font-weight: 500;
  color: rgb(47, 123, 167);
}

.professors {
  font-weight: 550;
  color: rgb(78, 78, 78);
}

.small_text {
  font-weight: 500;
  color: rgb(78, 78, 78);
}

.one_line {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.worksheet_btn {
  position: absolute;
  top: -12px;
  right: 3%;
  transition: 0.3s;
}

.worksheet_btn:hover {
  transform: translateY(6px);
}

@media (hover: none) {
  .worksheet_btn {
    top: -6px;
  }

  .worksheet_btn:hover {
    transform: none;
  }

  .container:hover {
    transform: none;
  }
}
