.collapse_container {
  right: 0 !important;
  max-height: 54px !important;
}

:global .css-yk16xz-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
  width: 175px !important;
  cursor: pointer !important;
}

:global .css-1pahdxg-control {
  cursor: pointer !important;
  width: 175px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
  border-color: hsl(0, 0%, 80%) !important;
  box-shadow: none !important;
  outline: none !important;
}

:global .css-1okebmr-indicatorSeparator {
  display: none !important;
}

:global .css-1uccc91-singleValue {
  font-size: 15px;
  font-weight: 500;
}
