.results_list_container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.shadow {
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.scrollable {
  overflow: scroll;
  max-height: 86vh;
}
