.btn-toggle {
  background-color: transparent;
  border-width: 0;
  transition: 0.3s !important;
  padding-top: 2px !important;
}

.btn-toggle:hover {
  transform: scale(1.3);
}

.btn-toggle:active,
.btn-toggle:focus {
  box-shadow: none !important;
}
