.container {
  border-radius: 8px;
  background-color: white;
  min-height: 88vh;
  overflow: hidden;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.header {
  justify-content: space-between;
}

.accordion_list {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.day_header {
  background-color: rgb(206, 206, 206);
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.toggle {
  background-color: white !important;
}

.card {
  border-radius: 0 !important;
}

.dropdowns {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.more_info {
  background-color: rgb(223, 223, 223);
  padding: 6px;
  border-radius: 10px;
}
