.container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 421;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.select_container {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  transition: 0.3s;
}

.select_container:hover {
  background-color: rgba(220, 236, 255, 0.7);
}
