.select_container {
  width: 100%;
  border-radius: 8px;
}

.top_left {
  left: 0.25rem;
  top: 1rem !important;
  transform: rotateZ(90deg) translate(-40%, 40%);
  z-index: 10 !important;
}

.top_left:hover {
  transform: rotateZ(90deg) translate(-40%, 40%) scale(1.1);
}
