/* .css-2b097c-container {
  width: 150px !important;
} */

.css-yk16xz-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
  width: 150px !important;
}

.css-1pahdxg-control {
  width: 150px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0px !important;
  border-color: hsl(0, 0%, 80%) !important;
  box-shadow: none !important;
  outline: none !important;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-1uccc91-singleValue {
  font-size: 15px;
  font-weight: 500;
}
