.container {
  border-radius: 8px;
  background-color: white;
  max-height: 86vh;
  overflow-y: scroll;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

.clickable {
  transition: background-color 0.3s;
  overflow: hidden;
}

.clickable:hover {
  cursor: pointer;
  background-color: rgba(220, 236, 255, 0.5);
}

.seasonHeader,
.seasonHeader:focus {
  border: none !important;
  outline: none;
}

.hidden {
  color: #b9b8b8;
}

.list_text {
  overflow: hidden;
  transition: 0.3s;
}

.course_title {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark {
  position: absolute;
  top: -16px;
  right: 0%;
  z-index: 420;
  transition: 0.3s;
  justify-content: end;
}

.bookmark:hover {
  transform: translateY(10px);
}
