.collapse_container {
  max-height: 92px !important;
  width: 200px;
  position: absolute;
  right: 0px;
  top: 40px;
  background-color: white;
  z-index: calc(420 + 69);
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.settings {
  transition: 0.3s;
}

.settings:hover {
  cursor: pointer;
}

.settings_rotated {
  transition: 0.3s;
  transform: rotate(90deg);
}

.select_container {
  width: 100%;
  border-bottom: 1px solid rgb(209, 209, 209);
}

:global .css-26l3qy-menu {
  z-index: 1000 !important;
}

:global .css-yk16xz-control,
:global .css-1pahdxg-control,
:global .css-1fhf3k1-control {
  z-index: calc(420 + 69);
  border: none !important;
  background-color: transparent !important;
  height: 38px !important;
  cursor: pointer !important;
}

:global .css-1pahdxg-control {
  box-shadow: none !important;
  outline: none !important;
}

:global .css-1okebmr-indicatorSeparator,
:global .css-109onse-indicatorSeparator {
  display: none !important;
}

:global .css-1uccc91-singleValue,
:global .css-107lb6w-singleValue {
  font-size: 15px;
  font-weight: 500;
}
