.container {
  border-radius: 8px;
  /* background-color: white; */
  /* min-height: 88vh; */
  overflow: hidden;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.header {
  justify-content: space-between;
}

.accordion_list {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.day_header {
  /* background-color: rgb(213, 229, 252); */
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.toggle {
  /* background-color: white; */
  /* transition: 0.3s; */
}

.accordion_hover_header_active {
  /* background-color: rgb(239, 245, 255); */
}

.card {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.dropdowns {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.more_info {
  /* background-color: rgb(223, 223, 223); */
  padding: 6px;
  border-radius: 10px;
}
