.container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 421;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.select_container {
  width: 100%;
  border-bottom: 1px solid rgb(209, 209, 209);
}
