.list_text {
  overflow: hidden;
}

.course_title {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark {
  position: absolute;
  top: -16px;
  right: 0%;
  z-index: 1;
  transition: transform 0.3s;
  justify-content: end;
}

.bookmark:hover {
  transform: translateY(10px);
}
