.container {
  border-radius: 8px;
  background-color: white;
  height: 88vh;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.seasonHeader:focus {
  border: none;
  outline: none;
}
