.coursetable_logo {
  font-family: YaleDesign, Garamond, 'Palatino Linotype', Palatino, Bookman, serif;
  font-size: 1.25rem !important;
  color:white;
  padding: 0.3125rem 0rem !important;
  margin-right: 1rem !important;
}
