.coursetable_logo {
  font-family: YaleDesign, Garamond, 'Palatino Linotype', Palatino, Bookman,
    serif;
  display: inline-block;
  line-height: 1rem;
}

.coursetable_logo_img {
  height: 1em;
  width: auto;
}

.coursetable_logo_wordmark {
  height: 0.8em;
  width: auto;
  margin-top: -0.1em;
}

.dark_mode_btn {
  height: 1.5em;
  width: auto;
}