.container {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}

@media (width <= 768px) {
  .title {
    font-size: 24px;
  }
}

@media (width <= 480px) {
  .container {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
