.collapseContainer {
  width: 200px;
  position: absolute;
  top: 56px;
  right: 0;
  z-index: calc(420 + 69);
  box-shadow: 0 2px 6px 0 var(--color-shadow);
  border-radius: 10px;
  transform: translate(0, -10px);
}

.dropdownItem {
  display: block;
  margin: 0.75rem 0;
}

.itemText {
  font-weight: 500;
}

.dropdownItem:hover .itemText {
  color: var(--color-primary);
}

.navbarMe {
  /* padding-left: 1rem; */
  height: 40px;
  display: flex;
}

.meIcon,
.anonIcon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.meIcon {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  align-items: center;
  justify-content: center;
}

.meIcon span {
  font-weight: bold;
  transform: scale(1, 1.2);
}

.meIcon:hover {
  color: var(--color-text-light);
}

.anonIcon {
  background-color: var(--color-bg-button);
  color: var(--color-text-secondary);
}

.anonIcon:hover {
  color: var(--color-primary);
}

[data-theme='dark'] .anonIcon {
  background-color: #525252;
}

[data-theme='dark'] .meIcon {
  color: var(--color-text-dark);
}

.linkIcon {
  margin-right: 0.5rem;
}
