.collapseContainer {
  width: 200px;
  position: absolute;
  top: 56px;
  right: 0;
  z-index: calc(420 + 69);
  box-shadow: 0 2px 6px 0 var(--color-shadow);
  border-radius: 10px;
  transform: translate(0, -10px);
}

.collapseText {
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}

.collapseText:hover {
  text-decoration: none !important;
}

.navbarMe {
  /* padding-left: 1rem; */
  height: 40px;
  display: flex;
}

.meIcon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  background-color: var(--color-bg-button);
  color: var(--color-text-secondary);
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
}

[data-theme='dark'] .meIcon {
  background-color: #525252;
}

.meIcon:hover {
  color: var(--color-primary);
}

.linkIcon {
  margin-right: 0.5rem;
}
