.stickyNavbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.catalogSearchNavbar {
  height: 100px;
  padding-bottom: 0;
}

@media (width < 1320px) {
  .catalogSearchNavbar {
    height: 88px;
  }
}

.navLogo {
  font-size: 1.6rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  height: 100%;
}

.navToggle {
  border-color: var(--color-border) !important;
}

.navToggle :global(.navbar-toggler-icon) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(69, 69, 69, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-theme='dark'] .navToggle :global(.navbar-toggler-icon) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(219, 219, 219, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (width >= 768px) {
  .navbarContent {
    display: flex;
    flex-grow: 0;
  }
}

.navbarDarkModeBtn {
  padding-right: 1rem !important;
  transition: 0.1s;
  display: flex;
}

.navLink {
  padding: 0.5rem 1rem 0.5rem 0;
  user-select: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text-secondary);
  transition: color var(--trans-dur);
}

.navLink:hover {
  text-decoration: none !important;
  color: var(--color-primary);
}

.navLink:global(.active) {
  color: var(--color-primary);
}

@media (width < 1320px) {
  .navLink {
    font-size: 0.9rem;
  }
}
