.stickyNavbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navLogo {
  font-size: 1.6rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navToggle {
  border-color: var(--color-border) !important;
}

.navToggle :global(.navbar-toggler-icon) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(69, 69, 69, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-theme='dark'] .navToggle :global(.navbar-toggler-icon) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(219, 219, 219, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbarMe {
  /* padding-left: 1rem; */
  height: 40px;
  display: flex;
}

.navbarDarkModeBtn {
  padding-right: 1rem !important;
  transition: 0.1s;
}

.meIcon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0.1);
  color: var(--color-text-secondary);
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
}

[data-theme='dark'] .meIcon {
  background-color: #525252;
}

.meIcon:hover {
  color: var(--color-primary);
}

.signInOutButton {
  padding: 0.5rem 1rem 0.5rem 0rem;
  font-weight: 500;
  user-select: none;
  color: var(--color-text-secondary);
}

@media (max-width: 1319px) {
  .navLink,
  .signInOutButton {
    font-size: 0.9rem;
  }
}

.signInOutButton:hover {
  color: var(--color-primary);
}

.navLink {
  padding: 0.5rem 1rem 0.5rem 0rem;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text-secondary);
  transition: color var(--trans-dur);
}

.navLink:hover {
  text-decoration: none !important;
  color: var(--color-primary);
}

.navLink:global(.active) {
  color: var(--color-primary);
}
