.stickyNavbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navLogo {
  font-size: 1.6rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.navbarMe {
  /* padding-left: 1rem; */
  height: 40px;
  display: flex;
}

.navbarDarkModeBtn {
  padding-right: 1rem !important;
  transition: 0.1s;
}

.meIcon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
}

.signInOutButton {
  padding: 0.5rem 1rem 0.5rem 0rem;
  font-weight: 500;
  user-select: none;
}

.navLink {
  padding: 0.5rem 1rem 0.5rem 0rem;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: none !important;
}
