<%#
	AboutModal.ejs
	
	Type: template component
	Usage: popovers for containing the "About" page for bluebook

	Variables:
%>
<div class="modal hide fade" id="about">
	<% var emails = ['px.peter.xu@gmail.com', 'hy.harry.yu@gmail.com']; %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>About CourseTable</h3>
	</div>
	<div class="modal-body">
		<p><strong>CourseTable</strong> is a project of <a href="http://yaleplus.com/">YalePlus</a>, and is (as far as we know) the first truly different way to shop for courses. Building on our <a href="http://yaleplus.com/bluebook/">Excel spreadsheet</a>, we've made a course-shopping tool fit even for the crazy (or merely curious) like us who shop over 20 courses per semester.</p>
		<p>For questions, comments, bug reports, suggestions, or hate mail, please email
		<% for (var i = 0; i < emails.length; i++) {
			var email = emails[i]; %>
			<% if (i != 0) { %> or <% } %>
			<a href="mailto:<%= email %>"><%= email %></a>
		<% } %>.</p>
	</div>
</div>
