<%#
	Bar.ejs
	
	Type: template component
	Usage: Parts of bar graphs showing data

	Variables:
		data: number of the datapoint
		max: maximum number of the datapoint
		digits: digits to round the display to (defaults to 0)
		barClasses: class of the bar
%>
<%
var digits;
if (!digits) {
	digits = 0
}
var widthPercent = data / max * 100;
%>
<span class="<%= barClasses %>" style="width: <%= widthPercent %>%"><span class="chart-label"><% if (widthPercent > 25) { %><%= round(data, digits) %> <% } else { %>&nbsp;<% } %></span></span><% if (widthPercent <= 25) { %><span class="chart-label"><%= round(data, digits) %></span><% } %><br />
