<%#
	EvaluationComments.ejs
	
	Type: template component
	Usage: comment section of the evaluations popover

	Variables:
		comments
		doSortByLength: if true, sorts the comments by descending length
%>

<% var sortedComments = doSortByLength ? sortByLength(comments) : comments %>
<% for (var i = 0; i < sortedComments.length; i++) { %>
<div class="well well-small"><%= sortedComments[i] %></div>
<% } %>
