@font-face {
  font-family: 'YaleDesign';
  src: url('../res/YaleDesign.eot');
  src: url('../res/YaleDesign.eot?#iefix') format('embedded-opentype'),
    url('../res/YaleDesign.woff') format('woff'),
    url('../res/YaleDesign.ttf') format('truetype'),
    url('../res/YaleDesign.svg#../res/YaleDesign') format('svg');
}

body {
  font-size: 13px;
}

.bottom10 {
  margin-bottom: 10px;
}

.dataTable tr.odd {
  background-color: #f9f9f9;
}
.dataTable td {
  white-space: nowrap;
  overflow: hidden;
}
.dataTable td td {
  white-space: normal;
  overflow: visible;
}

.dataTable td.lastfixed {
  border-right: 2px solid #eee;
}

.tooltip {
  white-space: normal;
  line-height: normal;
}

.popover {
  width: auto;
  min-width: 255px;
}

.popover-sort-filter .popover-title {
  line-height: 30px;
}

.popover-sort-filter .popover-title button {
  float: right;
}

.popover-sort-filter select {
  width: 100%;
}

.popover-sort-filter input[type='text'] {
  margin-top: 0;
  margin-bottom: 0;
}

.popover-sort-filter .popover-title button.close-btn {
  float: none;
}

.subject-popover {
  left: 0 !important;
}

.subject-popover .arrow {
  left: 30% !important;
}

.exam-timestamp-popover {
  left: auto !important;
  right: 0;
}

.exam-timestamp-popover .arrow {
  left: 85% !important;
}

.times-filter .input-prepend .active {
  border-color: #c5c5c5; /* @alternate */
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); /* @alternate */
}

/*
.number-sort {
	display: none;
}
*/

.navbar {
  position: fixed;
  width: 100%;
}

.navbar-search .btn,
.navbar-search .btn-group {
  margin-top: -10px;
}

#search-container {
  position: relative;
}

#search-box {
  width: 125px;
}

.navbar-inner {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #445;
}

.navbar .nav > li > a {
  text-shadow: none;
  color: #fff;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #fff;
  background-color: #206fc7;
}

.navbar h1 {
  font-family: YaleDesign, Georgia, 'Bitstream Vera Serif', 'Times New Roman',
    serif;
  font-weight: normal;
  color: #0f4d92;
  font-size: 18pt;
}

.navbar form,
.navbar h1 {
  display: inline;
}

.navbar .worksheet-only-btn {
  margin-left: 5px;
  margin-top: 0;
}

.friend-worksheets-btn {
  display: none;
}

.friend-worksheet-refresh {
  display: none;
  color: #fff;
}

.friend-worksheet-refresh:hover {
  color: #92bcea;
  text-decoration: none;
}

.friend-worksheets-select {
  width: 185px;
}

.loading {
  position: fixed;
  width: 200px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  z-index: 1;
}

.loading .alert {
  padding: 14px;
}

.loading .progress {
  margin-bottom: 10px;
  margin-right: 0;
}

body .modal-backdrop {
  opacity: 0.4;
}

.timetableContainer {
  display: none;
}

.timetable {
  position: absolute;
  top: 60px;
  width: 80% !important;
  z-index: 1;
}

.timetableCoursesContainer {
  position: absolute;
  top: 0;
  width: 20%;
  right: 0;
  min-height: 100%;

  border-left: 1px solid #ccc;
}

.timetableCourses {
  margin-top: 60px;
  padding: 10px;
  padding-top: 0;
}

.navbar-fixed-top .navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .brand {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Garamond, 'Palatino Linotype', Palatino, Bookman, serif;
  color: #fff;
  text-shadow: none;
}

.navbar .nav-right * {
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-right .select2-choice {
  height: 28px;
  font-size: 14px;
  line-height: 30px;
}

/* Note: these are now overridden in the BluebookPerUser.tpl, as they
   depend on which buttons are in the top bar */
@media screen and (max-width: 1020px) {
  .navbar #nav-about {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .navbar .brand.hide-small {
    display: none;
  }
}
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: #fff;
}

/* For non-Bluebook pages */
.content {
  margin: 50px 20px 0;
}
