/*
 * Different colours for areas, skills
 */
.label-area,
.badge-area {
  background-color: #3a87ad;
}

.label-area[href],
.badge-area[href] {
  background-color: #2d6987;
}

.label-skill,
.badge-skill {
  background-color: #468847;
}

.label-skill[href],
.badge-skill[href] {
  background-color: #356635;
}

.badges {
  float: right;
  text-align: right;
  margin-right: 20px;
}

.course-modal {
  top: 5%;
  width: 780px;
  left: 50%;
  margin-left: -390px;
}

.course-modal .modal-body {
  max-height: 400px;
}

.eval-button div {
  font-size: 11px;
  line-height: 12px;
}

.eval-button div.courses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.course-codes {
  font-size: smaller;
}

.chart-bar,
.square-chart-bar {
  background-color: #3a87ad;
  color: #fff;
  display: inline-block;
  text-align: right;
}

.chart-bar {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chart-label {
  font-size: smaller;
  margin: 2px 6px;
}

.chart-bar .chart-label {
  color: #fff;
}

.chart-legend {
  font-size: smaller;
  padding: 2px 6px;
  text-align: right;
}

.bar-blue,
.bar-red {
  font-size: 14px;
}

.bar-blue {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(
    top,
    #5bc0de,
    #339bb9
  ); /* @alternate */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#5bc0de),
    to(#339bb9)
  ); /* @alternate */
  background-image: -webkit-linear-gradient(
    top,
    #5bc0de,
    #339bb9
  ); /* @alternate */
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9); /* @alternate */
  background-image: linear-gradient(
    to bottom,
    #5bc0de,
    #339bb9
  ); /* @alternate */
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

.bar-red {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(
    top,
    #ee5f5b,
    #c43c35
  ); /* @alternate */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ee5f5b),
    to(#c43c35)
  ); /* @alternate */
  background-image: -webkit-linear-gradient(
    top,
    #ee5f5b,
    #c43c35
  ); /* @alternate */
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35); /* @alternate */
  background-image: linear-gradient(
    to bottom,
    #ee5f5b,
    #c43c35
  ); /* @alternate */
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.label-primary {
  background-color: #006dcc;
}

.eval-row {
  margin-bottom: 5px;
}

.pad {
  margin: 15px;
}

.pad-left {
  margin-left: 15px;
}

.pad-top {
  margin-top: 15px;
}

.pad-right {
  margin-right: 15px;
}

.pad-bottom {
  margin-bottom: 15px;
}

.pad-secondary {
  margin: 15px 15px 15px 0;
}

.bar-1 {
  background-color: #b94a48;
  color: #fff;
}
.bar-2 {
  background-color: #f8696b;
  color: #000;
}
.bar-3 {
  background-color: #fdc07c;
  color: #000;
}
.bar-4 {
  background-color: #cbd881;
  color: #000;
}
.bar-5 {
  background-color: #63b37b;
  color: #fff;
}
