.container {
  width: 600px;
  margin-bottom: 3rem;
}

.loadingSpinner {
  position: fixed;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
}

@media (max-width: var(--max-width-mobile)) {
  .container {
    width: 80vw;
  }
}

@media (max-width: var(--max-width-sm-mobile)) {
  .container {
    width: 90vw;
  }
}
