.container {
  width: 600px;
  margin-bottom: 3rem;
}

.faqHeader {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.faqDescription {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.accordionHoverHeader {
  font-weight: 550;
}

.accordionArrow {
  transition: transform 0.4s ease;
}

.accordionArrowActive {
  transform: rotateZ(90deg);
}

.card {
  background-color: transparent;
  border: none !important;
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 425px) {
  .container {
    width: 95vw;
  }
}
