.container {
  width: 600px;
  margin-bottom: 3rem;
  transition: color var(--trans-dur);
}

.faqHeader {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.faqDescription {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.accordionHoverHeader {
  font-weight: 550;
}

.accordionArrow {
  transition: transform 0.4s ease;
}

.accordionArrowActive {
  transform: rotateZ(90deg);
}

.card {
  background-color: transparent;
  border: none !important;
  border-bottom: 1px solid var(--color-border) !important;
  transition: border-color var(--trans-dur);
}

.card :global(.active) {
  border-bottom: 1px solid var(--color-border) !important;
  color: var(--color-primary);
  transition: border-color var(--trans-dur);
}

@media (max-width: 767px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 479px) {
  .container {
    width: 95vw;
  }
}
