.container {
  height: auto;
}

.faq_header {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.accordion_container {
  width: 600px;
  margin-bottom: 10vh;
}

.accordion_card {
  background-color: transparent !important;
  border: none !important;

  border-bottom: 1px solid rgb(223, 222, 222) !important;
  border-radius: 0 !important;
}

.accordion_header {
  background-color: transparent !important;
  border: none !important;
}

.accordion_hover_header {
  transition: color 0.3s;
  font-weight: 550;
  border-bottom: 1px solid white !important;
  transition: border-bottom 0.3s;
}

.accordion_hover_header_active {
  color: #007bff;
  border-bottom: 1px solid rgb(223, 222, 222) !important;
}

.accordion_arrow {
  transition: transform 0.4s ease;
}

.accordion_hover_header:hover {
  cursor: pointer;
  color: #007bff;
}

.accordion_arrow_active {
  transform: rotateZ(90deg);
}

@media (max-width: 768px) {
  .accordion_container {
    width: 80vw;
  }
}

@media (max-width: 425px) {
  .accordion_container {
    width: 95vw;
  }
}
