.container {
  width: 600px;
  margin-bottom: 3rem;
}

.faq_header {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.faq_description {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.accordion_hover_header {
  transition: color 0.2s;
  font-weight: 550;
}

.accordion_arrow {
  transition: transform 0.4s ease;
}

.accordion_hover_header:hover {
  cursor: pointer;
  color: #007bff;
}

.accordion_arrow_active {
  transform: rotateZ(90deg);
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 425px) {
  .container {
    width: 95vw;
  }
}
