.container {
  width: 400px;
  margin-bottom: 3rem;
}

.joinHeader {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.joinDescription {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

@media (width < 768px) {
  .container {
    width: 60vw;
  }
}

@media (width < 480px) {
  .container {
    width: 80vw;
  }
}
