.container {
  width: 400px;
  margin-bottom: 3rem;
}

.join_header {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.join_description {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.form_label {
  font-weight: 500;
}

.form_secondary_label {
  color: rgb(153, 153, 153);
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    width: 60vw;
  }
}

@media (max-width: 425px) {
  .container {
    width: 80vw;
  }
}
