/* .container {
  height: 194vh;
} */

.splashpage {
  min-height: calc(100vh - 58px);
  text-align: center;
  max-width: 900px;
}

/* .coursetable_logo {
  padding-top: 16vh;
  padding-bottom: 5vh;
}

.btn_container {
  justify-content: center;
  margin: auto;
}

.title {
  font-size: calc(20px + 8vw);
}

.description {
  font-size: calc(10px + 3vw);
  line-height: 90%;
} */

.feature_text {
  font-weight: 500;
  transition: 0.3s;
  cursor: default;
  text-align: left;
}

.feature_text:hover {
  transform: translateX(7px);
}

.btn {
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  transition: 0.3s;
}

.login {
  background-color: #1084ff;
}

.about {
  background-color: #344a61;
}

.btn:hover {
  text-decoration: none;
  color: white;
  transform: translateY(-5px);
  filter: brightness(90%);
}

/* 
.btns {
  width: 200px;
} */

/* .chevron {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, 0);
  color: rgb(187, 187, 187);
  transition: 0.3s ease;
} */

/* .chevron:hover {
  color: rgb(102, 102, 102);
} */

/* .feature_page {
  height: 100vh;
  position: absolute;
  top: 200vh;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
} */

/* .page_separator {
  border-top: solid;
  border-width: 1px;
  width: 50vw;
  border-color: rgb(197, 196, 196);
} */

/* .whyCourseTable {
  margin-top: 6vh;
  margin-bottom: 8vh;
  font-size: calc(15px + 4vw);
  width: 100vw;
} */

/* .feature_row {
  width: 100vw;
} */

.feature {
  height: 150px;
  width: 250px;
  background-color: rgb(216, 237, 253);
  border-radius: 50px;
  transition: 0.3s;
}

/* .feature:hover {
  transform: scale(1.1);
} */

.feature_header {
  font-weight: 600;
  font-size: 25px;
}

.get_started_row {
  margin-top: 30vh;
}

.get_started_row_mobile {
  margin-top: 8vh;
}
