.splashpage {
  min-height: calc(100vh - 58px);
  text-align: center;
  max-width: 900px;
}

.featureText {
  font-weight: 500;
  transition: transform 0.3s;
  cursor: default;
  text-align: left;
}

.featureText:hover {
  transform: translateX(7px);
}

.btn {
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  transition:
    transform 0.3s,
    filter 0.3s;
}

.login {
  background-color: #1084ff;
}

.about {
  background-color: #344a61;
}

.btn:hover {
  text-decoration: none;
  color: white;
  transform: translateY(-5px);
  filter: brightness(90%);
}

.stat {
  color: var(--color-primary);
}

.feature {
  height: 150px;
  width: 250px;
  background-color: rgb(216 237 253);
  border-radius: 50px;
  transition: 0.3s;
}
