.splashpage {
  min-height: calc(100vh - 58px);
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 450px;
}

.featureList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.featureText {
  font-weight: 500;
  transition: transform 0.3s;
  cursor: default;
  text-align: left;
}

.featureText:hover {
  transform: translateX(7px);
}

.btn {
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  transition:
    transform 0.3s,
    filter 0.3s;
  margin-top: 8px;
}

.login {
  background-color: #1084ff;
}

.guest {
  background-color: #009688;
}

.about {
  background-color: #344a61;
  margin-right: 8px;
}

.btn:hover {
  text-decoration: none;
  color: white;
  transform: translateY(-5px);
  filter: brightness(90%);
}

.stat {
  color: var(--color-primary);
}

.thumbnail {
  max-width: 90%;
}
