.login_background {
	background-color: #bbe1fa;
}

.login_outer {
	background-color: white;
	border-radius: 8px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 8rem auto 12rem auto;
	height: max-content;
}

.login_header {
	font-size: 2rem;
}

.go_back {
	cursor: pointer;
	color: rgba(1, 1, 1, 0.6);
	transition: all 0.25s ease-in;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem 0.75rem;
	border-radius: 4px;
}

.go_back:hover {
	text-decoration:none;
	color: black;
	background-color: rgba(1, 1, 1, 0.1);
}
