.container {
  height: 194vh;
  width: 100vw;
  background-color: #f6f6f6;
}

.splashpage {
  height: 94vh;
}

.coursetable_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.coursetable_logo {
  font-family: YaleDesign, Garamond, 'Palatino Linotype', Palatino, Bookman,
    serif;
}

.btn_container {
  justify-content: center;
  margin: auto;
}

.title {
  font-size: calc(20px + 8vw);
}

.description {
  font-size: calc(10px + 3vw);
  line-height: 90%;
}

.btns {
  width: 150px;
}

.chevron {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, 0);
  color: rgb(187, 187, 187);
  transition: 0.3s ease;
}

.chevron:hover {
  color: rgb(102, 102, 102);
}

.feature_page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(197, 196, 196);
}

.whyCourseTable {
  margin-top: 8vh;
  font-size: calc(15px + 5vw);
}
