.rc-slider-track {
  background-color: #78b5ff !important;
}

.rc-slider-handle {
  border: solid 2px #78b5ff !important;
  background: white !important;
}

@media (max-width: calc(1320px - 0.001px)) {
  .rc-slider-handle {
    width: 12px;
    height: 12px;
  }
}

.rc-slider-rail {
  left: 0 !important;
}
