.search_base {
  width: 100%;
  min-height: calc(100vh - 56px);
}

.search_col {
  /* background-color: transparent; */
  border-radius: 8px;
  padding-right: 0px !important;
}

.search_col_mobile {
  /* background-color: transparent; */
  overflow: scroll;
  z-index: 1;
}

.sticky {
  position: sticky !important;
  top: 56px !important;
  z-index: 1;
}

.search_container {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.search_bar {
  width: 100%;
}

/* Make this look good in dark mode */
.search_input input {
  border-radius: 8px;
  /* border: 2px solid hsl(0, 0%, 90%); */
}

.filter_title {
  font-size: 0.9rem;
  /* color: rgba(0, 0, 0, 0.75); */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

:global hr {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.multi_selects {
  border-radius: 8px;
}

.selector_container {
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  width: calc(100% - 35px);
}

.light_bg {
  background-color: rgba(0, 0, 0, 0.033);
}

.sort_btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
  margin-left: auto;
  transition: 0.3s;
}

.sort_icon {
  display: block;
}

.sliders {
  font-weight: 500;
}

.slider {
  margin-top: 2rem;
  padding: 1rem;
}

.secondary_submit {
  background-color: #2d87f3 !important;
  font-weight: 600 !important;
  width: 100%;
  border-radius: 0px 0px 8px 8px !important;
  padding: 0.5rem !important;
  transition: 0.3s;
}

.secondary_submit:hover {
  background-color: #2670ca !important;
}

.toggle_option {
  margin-right: 1rem;
  user-select: none;
  cursor: pointer !important;
}

.toggle_option label {
  cursor: pointer;
}

.results_col {
  background-color: transparent;
  z-index: 0;
}

.search_tab {
  position: absolute;
  transition: 0.3s;
  transition-delay: 0.3s;
  transition-property: right, opacity;
  top: 10px;
  right: -45px;
  padding: 7px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search_tab:hover {
  cursor: pointer;
  background-color: rgb(92, 168, 250);
}

.search_tab_hidden {
  cursor: inherit !important;
  transition: 0s;
  right: 30px !important;
  opacity: 0;
}

.collapse_form_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #e23e57;
}

.collapse_form_btn:hover {
  cursor: pointer;
  color: #a82f41;
}

.results_col_mobile {
  background-color: transparent;
  z-index: 0;
}

:global .rc-slider-track {
  background-color: #78b5ff !important;
}

:global .rc-slider-handle {
  border: solid 2px #78b5ff !important;
  background: white !important;
}

:global .rc-slider-rail {
  left: 0 !important;
}

.rating_tooltip,
.workload_tooltip {
  font-size: 0.75rem;
  width: 1.5rem;
  color: white;
  background-color: #2d87f3;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-weight: 600;

  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -0.75rem;
}

/* arrow */
.rating_tooltip::after,
.workload_tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2d87f3 transparent transparent transparent;
}

.reset_filters_btn {
  color: #e23e57;
  font-weight: 500;
  transition: 0.3s;
}

.reset_filters_btn:hover {
  cursor: pointer;
  color: #a82f41;
}

.num_results {
  font-weight: 500;
}

.useless_btn {
  display: none;
}

@media (hover: none) {
  .search_container {
    max-height: none;
  }
}
