.search_base {
  width: 100%;
  min-height: calc(100vh - 56px);
}

.results_col {
  background-color: transparent;
  z-index: 0;
}

.results_col_mobile {
  background-color: transparent;
  z-index: 0;
}
