.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

@media (width < 768px) {
  .container {
    flex-direction: column;
  }
}

.calendar {
  box-shadow: 0 2px 6px 0 var(--color-shadow);
  height: 86vh;
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
  border-radius: 8px;
}

@media (width < 768px) {
  .calendar {
    height: 75vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
  }
}

@media (width >= 768px) {
  .calendar {
    position: sticky;
    top: calc(1rem + 56px);
    min-width: calc(75% - 1rem);
    flex-grow: 1;
  }
}

.expandBtn {
  padding: 3px;
  border-radius: 6px;
  background-color: var(--color-bg-button);
  color: var(--color-text-secondary);
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 2;
  transform: translate(50%, -40%);
  transition:
    transform 0.05s linear,
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.expandIcon {
  display: block;
}

.expandBtn:hover {
  transform: translate(50%, -40%) scale(1.1);
}

.calendarSidebar {
  max-width: calc(25% - 1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subDropdowns {
  display: flex;
}
