.container {
  margin-bottom: 0;
  border: none;
}

.desktopContainer {
  min-height: 92vh;
}

.loadingSpinner {
  position: fixed;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
}

.calendarContainer {
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  height: 86vh;
  position: sticky;
  top: calc(1rem + 56px);
  border-radius: 8px;
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
}

/* DISABLE TRANSITION ANIMATIONS */

.hidden {
  display: none;
}

/* ----------------------------- */

.accordion {
  width: 100vw;
  min-height: 100vh;
}

.dropdowns {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.expandBtn {
  padding: 3px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--color-select-multivalue);
  color: var(--color-text-secondary);
  position: absolute;
  top: 0%;
  z-index: 2;
  transition:
    transform 0.05s linear,
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.expandIcon {
  display: block;
}

.topRight {
  right: 0%;
  transform: translate(50%, -40%);
}

.topRight:hover {
  transform: translate(50%, -40%) scale(1.1);
}

.mobileCalendar {
  height: 75vh;
}
