.layout {
  --height-navbar: 61px;
}

.catalogLayout {
  --height-navbar: 100px;
}

@media (max-width: calc(1320px - 0.3px)) {
  .layout {
    --height-navbar: 58px;
  }

  .catalogLayout {
    --height-navbar: 88px;
  }
}
