.event {
  position: relative;
  width: 100%;
  height: 100%;
}

.worksheetHideButton {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.event:hover .worksheetHideButton {
  opacity: 1;
}

.courseNameText {
  font-size: 12px;
  white-space: pre-wrap;
}

.locationText {
  font-weight: 500;
}

@media (width < 768px) {
  .locationText {
    display: none;
  }
}
