.modalBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;
}

.pickerPanel :global(.react-colorful__last-control) {
  border-radius: 0;
}

.eventPreview {
  width: 180px;
}

.eventPreview :global(.rbc-time-gutter) {
  display: none;
}

.presetColors {
  display: flex;
  justify-content: center;
  padding: 12px;
  flex-wrap: wrap;
  width: 200px;
}

.presetColor {
  width: 24px;
  height: 24px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
