.spacer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 56px;
  z-index: 2;
}

.container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.icon {
  transition: transform 0.3s !important;
}

.button {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-bottom: 5px;
}

.button:disabled {
  background-color: transparent;
}

.button:hover {
  border: 2px solid hsl(0, 0%, 70%);
}

.button:hover .icon {
  transform: scale(1.15);
}

.button :global(.dropdown-menu) {
  min-width: 20rem !important;
}

.courseList {
  overflow-x: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}
