.listItem {
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  border-color: var(--color-border);
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.listItem:hover {
  background-color: var(--color-select-hover);
}

/* Hides icon until you hover over the list item */
.listItem .hideButtonHidden {
  opacity: 0;
  transition: 0.05s opacity;
}

.listItem:hover .hideButtonHidden {
  opacity: 1;
}

@media (width < 480px) {
  .listItem .hideButtonHidden {
    opacity: 1;
  }
}

.courseTitle {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courseCode {
  overflow: hidden;
  transition: color var(--trans-dur);
}
