.worksheetDropdown {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: var(--color-select);
  color: var(--color-text);
}

.worksheetDropdown:hover {
  opacity: 1 !important;
}

.scaleIcon {
  transition: 0.1s !important;
}

.scaleIcon:hover {
  transform: scale(1.15);
}

.disabledButton {
  cursor: not-allowed !important;
  background-color: transparent !important;
  border-width: 0 !important;
}

.disabledButtonIcon {
  color: rgba(0, 0, 0, 0.5);
}

.disabledButton:active,
.disabledButton:focus {
  box-shadow: none !important;
}

.toggleButton {
  gap: 1rem;
  background-color: transparent;
  border-width: 0;
  color: var(--color-primary) !important;
}

.toggleButton:active,
.toggleButton:focus {
  box-shadow: none !important;
}

.toggleButton:hover {
  opacity: 0.5;
}
