.btn-toggle {
  background-color: transparent;
  border-width: 0;
}

.btn-toggle:active,
.btn-toggle:focus {
  box-shadow: none !important;
}

.scale_icon {
  transition: 0.1s !important;
}

.scale_icon:hover {
  transform: scale(1.15);
}

.disabled-button {
  cursor: not-allowed !important;
  background-color: transparent !important;
  border-width: 0 !important;
}

.disabled-button-icon {
  color: rgba(0, 0, 0, 0.5);
}

.disabled-button:active,
.disabled-button:focus {
  box-shadow: none !important;
}

.worksheet-dropdown:hover {
  opacity: 1 !important;
}
