.listItem {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  overflow: hidden;
  border-color: var(--color-border);
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.listItem:hover {
  background-color: var(--color-primary-subdued);
}

.hideButton {
  background-color: transparent;
}

/* Hides icon until you hover over the list item */
.hideButtonHidden {
  opacity: 0;
  transition: 0.05s opacity;
}

.listItem:hover .hideButtonHidden {
  opacity: 1;
}

@media (max-width: calc(768px - 0.3px)) {
  .hideButtonHidden {
    opacity: 1;
  }
}

.courseTitle {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courseCode {
  text-align: left;
  overflow: hidden;
  transition: color var(--trans-dur);
  color: var(--color-text);
}

.courseCode:hover {
  color: unset;
}

.courseCodeHidden {
  color: var(--color-hidden);
}
