services:
  api:
    build:
      context: ../../
      dockerfile: ./api/Dockerfile
      args:
        GRAPHQL_ENDPOINT: http://host.docker.internal:8085/v1/graphql
        HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET?admin_secret}
    image: coursetable/api:latest
    container_name: ${EXPRESS_HOST?express}
    environment:
      CANNY_KEY: ${CANNY_KEY?canny_key}
      FERRY_SECRET: ${FERRY_RELOAD_SECRET?ferry_reload_secret}
      FRONTEND_ENDPOINT: ${FRONTEND_ENDPOINT?frontend_endpoint}
      GRAPHQL_ENDPOINT: http://${GRAPHQL_ENGINE_HOST?graphql-engine}:8080/v1/graphql
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET?admin_secret}
      REDIS_HOST: ${REDIS_HOST?redis}
      DB_URL: ${DB_URL?db_url}
      NODE_ENV: development
      SESSION_SECRET: ${SESSION_SECRET?session_secret}
      STUDENTS_DB: yaleplus
      YALIES_API_KEY: ${YALIES_API_KEY?yalies_api_key}
      SECURE_PORT: ${SECURE_PORT?secure_port}
      INSECURE_PORT: ${INSECURE_PORT?insecure_port}
      CHALLENGE_PASSWORD: ${CHALLENGE_PASSWORD?challenge_password}
      SENTRY_DSN: ${SENTRY_DSN?sentry_dsn}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT?sentry_environment}
    networks:
      - api

networks:
  api:
    name: ${API_NETWORK?api}
    driver: bridge
