.searchContainer {
  position: relative;
  margin: 1rem;
  width: calc(100% - 2rem);
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px 0 var(--color-shadow);
}

@media (hover: none) {
  .searchContainer {
    max-height: none;
  }
}

.searchForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.searchForm > hr {
  margin: 0.5rem 1.5rem;
}

.searchForm > * {
  padding: 0 1.5rem;
}

.searchInput {
  width: 100%;
}

.searchInput input {
  border-radius: 8px;
}

.filterTitle {
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  user-select: none;
}

.sortByContainer {
  width: 100%;
  display: flex;
}

.selectSortBy {
  flex-grow: 1;
}

.selectorContainer {
  font-weight: 500;
  -webkit-touch-callout: none;
  user-select: none;
  width: 100%;
}

.booleanToggles {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-surface-active);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.sliders {
  display: flex;
  font-weight: 500;
  gap: 2rem;
  align-items: top;
  justify-content: center;
  margin: 0 1rem;
}

.sliders > * {
  flex: 1 1 0;
}

.slider {
  margin-top: 2rem;
  padding: 1rem;
}

.sliderTooltip {
  font-size: 0.75rem;
  width: 1.5rem;
  color: white;
  background-color: var(--color-primary);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -0.75rem;
}

.resetFiltersBtn {
  color: #e23e57;
  font-weight: 500;
  font-size: 14px;
}

.resetFiltersBtn:hover {
  color: #a82f41;
}

.numResults {
  font-weight: 500;
}

.uselessBtn {
  display: none;
}
