.search_col_mobile {
  /* background-color: transparent; */
  overflow: scroll;
  z-index: 1;
}

.search_container {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
}

@media (hover: none) {
  .search_container {
    max-height: none;
  }
}

.search_bar {
  width: 100%;
}

/* Make this look good in dark mode */
.search_input input {
  border-radius: 8px;
  /* border: 2px solid hsl(0, 0%, 90%); */
}

.filter_title {
  font-size: 0.9rem;
  /* color: rgba(0, 0, 0, 0.75); */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

:global hr {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.multi_selects {
  border-radius: 8px;
}

.selector_container {
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  width: calc(100% - 35px);
}

.light_bg {
  background-color: rgba(0, 0, 0, 0.033);
}

.sliders {
  font-weight: 500;
}

.slider {
  margin-top: 2rem;
  padding: 1rem;
}

.overall_tooltip,
.workload_tooltip,
.enrollment_tooltip,
.time_tooltip {
  font-size: 0.75rem;
  width: 1.5rem;
  color: white;
  background-color: #2d87f3;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-weight: 600;

  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -0.75rem;
}

/* arrow */
/* .overall_tooltip::after,
.workload_tooltip::after,
.enrollment_tooltip::after,
.time_tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2d87f3 transparent transparent transparent;
} */

.reset_filters_btn {
  color: #e23e57;
  font-weight: 500;
}

.reset_filters_btn:hover {
  cursor: pointer;
  color: #a82f41;
}

.num_results {
  font-weight: 500;
}

.useless_btn {
  display: none;
}
