.toggle-wrapper {
  width: 100%;
  margin: 0 10px;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 15px;
  display: block;
}

.toggleContainer {
  width: 100%;
  position: relative;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 20px;
}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  color: black;
}

.toggleContainer .toggleOption.selected {
  color: #ffffff;
  cursor: initial;
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  background: rgb(92, 168, 250);
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}
