.wrapper {
  position: relative;
}

.arrowIcon {
  color: var(--color-icon-focus);
  transition: color var(--trans-dur);
}

.clearIcon {
  z-index: 1000;
  cursor: pointer;
  color: var(--color-icon-focus);
  transition: color var(--trans-dur);
}

.clearIcon:hover {
  color: var(--color-icon-focus-hover);
}

.button {
  background-color: var(--color-surface);
  color: var(--color-text);
  border: 0;
  padding: 6px 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  user-select: none;
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
  display: flex;
  align-items: center;
}

@media (max-width: calc(1320px - 0.5px)) {
  .button {
    font-size: 12px;
  }
}

.button:hover {
  background-color: var(--color-surface-hover);
  color: var(--color-primary-hover);
}

.button:active {
  background-color: var(--color-surface-active);
  color: var(--color-primary);
}

.dropdown {
  background-color: var(--color-select);
  border-radius: 4px;
  box-shadow:
    0 0 0 1px hsl(218deg 50% 10% / 10%),
    0 4px 11px hsl(218deg 50% 10% / 10%);
  margin-top: 8px;
  position: absolute;
}

.notificationIcon {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 2;
}

.notificationIcon span {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
