.randomButton {
  font-size: 70%;
  color: var(--color-primary-light);
  margin-bottom: 0.75rem;
}

.randomButton:hover {
  color: var(--color-primary);
}

.randomButton:disabled {
  cursor: not-allowed;
  color: gray;
}
