.resultItem {
  outline: none !important;
  cursor: pointer;
  transition:
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.firstResultItem {
  border-top: 1px solid transparent !important;
}

.oddResultItem:not(.inWorksheetResultItem) {
  background-color: #f9f9f9;
}

.evenResultItem:not(.inWorksheetResultItem) {
  background-color: var(--color-surface);
}

[data-theme='dark'] .oddResultItem:not(.inWorksheetResultItem) {
  background-color: #202020;
}

.inWorksheetResultItem {
  background-color: var(--color-primary-light);
}

.resultItem:hover {
  background-color: var(--color-select-hover) !important;
}

.resultItemContent {
  max-width: 1600px;
  user-select: none;
  overflow: hidden;
  position: relative;
  font-size: 13px;
  line-height: 32px;
}

.ellipsisText {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title-popover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.spring {
  color: rgb(15, 100, 22) !important;
  background-color: rgb(184, 223, 187) !important;
}

.summer {
  color: rgb(230, 130, 0) !important;
  background-color: rgb(243, 233, 200) !important;
}

.fall {
  color: rgb(172, 47, 9) !important;
  background-color: rgba(141, 64, 33, 0.404) !important;
}

.dot {
  display: inline;
}

.skillsAreas {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
}

.none {
  background-color: rgb(102, 102, 102) !important;
}

.worksheetBtn {
  position: absolute;
  left: 8px;
  height: 100%;
  display: flex;
}

.conflictError {
  position: absolute;
  top: 0px;
  left: -10px;
  transform: translate(100%, -35%);
}

.friends {
  font-weight: 500;
  padding-left: 2px;
}

.cancelledText {
  color: rgb(255, 98, 98);
}

.cancelledClass {
  background-color: rgba(255, 98, 98, 0.3) !important;
}

.ratingCell {
  width: 100%;
  height: 100%;
  padding: 3px 10px;
  line-height: 1.5;
}

.tag {
  margin: 1px;
  font-size: 13px;
  font-weight: 600 !important;
  padding: 4px 6px !important;
  border-radius: 6px !important;
}

@media (max-width: 1319px) {
  .resultsItemContent {
    font-size: 11px;
    line-height: 28px;
  }

  .tag,
  .ratingCell {
    font-size: 11px;
  }
}
