.container {
  list-style: none;
}

.resultItem {
  display: block;
  color: unset;
  cursor: pointer;
  transition:
    background-color var(--trans-dur),
    color var(--trans-dur);
}

.resultItem:hover {
  background-color: var(--color-primary-subdued) !important;
  color: unset;
}

.resultItem:focus-visible {
  z-index: 1;
}

.oddResultItem:not(.inWorksheetResultItem) {
  background-color: var(--color-surface-contrast);
}

.evenResultItem:not(.inWorksheetResultItem) {
  background-color: var(--color-surface);
}

.inWorksheetResultItem {
  background-color: var(--color-primary-subdued-2);
}

.resultItemContent {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  user-select: none;
  overflow: visible;
  position: relative;
  font-size: 13px;
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: calc(1320px - 0.3px)) {
  .resultItemContent {
    line-height: 28px;
  }
}

.ellipsisText {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skillsAreas {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
}

.cancelledClass {
  background-color: rgb(255 98 98 / 30%) !important;
}

.ratingCell {
  width: 100%;
  height: 100%;
  padding: 3px 10px;
  line-height: 1.5;
}

.profRating {
  white-space: nowrap;
  min-width: var(--width-col-prof-rating);
}

.season {
  border-radius: 6px;
}

.worksheetBtn {
  position: absolute;
  width: 2.5rem;
  left: max(calc(50vw - 800px), 0px);
  top: 0;
}

@media (max-width: calc(1320px - 0.3px)) {
  .ratingCell,
  .ellipsisText {
    font-size: 12px;
  }
}
