.container {
  transition: var(--trans-dur);
  padding: 0 0.5rem 0.75rem;
  overflow: visible;
  list-style: none;
}

.resultItem {
  display: block;
  color: unset;
  border-radius: 8px;
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
  height: 100%;
}

.resultItem:hover {
  background-color: var(--color-primary-subdued) !important;
  color: unset;
}

.resultItem:not(.inWorksheetResultItem) {
  background-color: rgb(245 245 245);
}

[data-theme='dark'] .resultItem:not(.inWorksheetResultItem) {
  background-color: var(--color-surface-elevated);
}

.inWorksheetResultItem {
  background-color: var(--color-primary-subdued-2);
}

.season {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 27px;
  margin-bottom: 0.75rem;
}

.courseCodes {
  margin-top: 0.75rem;
  font-weight: 500;
  font-size: 14px;
  color: rgb(38 131 185);
}

.professors {
  font-weight: 550;
}

.smallText {
  font-size: 14px;
  font-weight: 500;
}

.oneLine {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  font-weight: bold;
  margin-right: 0.25rem;
}

.skillsAreas {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  min-height: 24px;
  margin-top: 0.25rem;
}

.worksheetBtn {
  position: absolute;
  top: 4px;
  right: 18px;
}

.iconContainer {
  fill: var(--color-text);
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  width: 16px;
  display: block;
}

@media (hover: none) {
  .container:hover {
    transform: none;
    cursor: none;
  }
}
