.firstSearchResultItem {
  border-top: 1px solid transparent !important;
}

.oddSearchResultItem {
  background-color: #f9f9f9 !important;
}

.evenSearchResultItem {
  background-color: var(--color-surface) !important;
}

[data-theme='dark'] .oddSearchResultItem {
  background-color: #202020 !important;
}

.ellipsisText {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title-popover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.spring {
  color: rgb(15, 100, 22) !important;
  background-color: rgb(184, 223, 187) !important;
}

.summer {
  color: rgb(230, 130, 0) !important;
  background-color: rgb(243, 233, 200) !important;
}

.fall {
  color: rgb(172, 47, 9) !important;
  background-color: rgba(141, 64, 33, 0.404) !important;
}

.dot {
  display: inline;
}

.skillsAreas {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
}

.none {
  background-color: rgb(102, 102, 102) !important;
}

.worksheetBtn {
  position: absolute;
  left: 8px;
  height: 100%;
  display: flex;
}

.conflictError {
  position: absolute;
  top: 0px;
  left: -10px;
  transform: translate(100%, -35%);
}

.friends {
  font-weight: 500;
  padding-left: 2px;
}

.cancelledText {
  color: rgb(255, 98, 98);
}

.cancelledClass {
  background-color: rgba(255, 98, 98, 0.3) !important;
}
