.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 2px;
  transition: background-color var(--trans-dur);
}

.button:hover {
  background-color: var(--color-button-active);
}

.button.buttonActive {
  background-color: var(--color-select-hover);
}
