.container {
  position: sticky;
  top: var(--height-navbar);
  z-index: 2;
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur) !important;
  user-select: none;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: calc(1320px - 0.3px)) {
  .container {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.resultsHeaderContent {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.resultsStat {
  flex-grow: 1;
}

.headerCol {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

@media (max-width: calc(1320px - 0.3px)) {
  .headerCol {
    font-size: 12px;
    line-height: 24px;
  }
}

.oneLine {
  display: flex;
  align-items: center;
  min-width: 0;
}

.oneLine span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle {
  color: var(--color-text-secondary);
  padding: 7.5px;
  border-radius: 15px;
  transition: color var(--trans-dur);
}

.toggle:hover {
  background-color: var(--color-select);
  color: var(--color-primary);
}
