.container {
  transition: 0.1s;
}

.container:hover {
  cursor: pointer;
}

.itemContainer:focus,
.itemContainer:active {
  border: none;
  outline: none;
}

.itemContainer {
  border-radius: 8px;
}

.seasonTag {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 27px;
}

.courseCodes {
  font-weight: 500;
  color: rgb(38, 131, 185);
}

.professors {
  font-weight: 550;
}

.smallText {
  font-weight: 500;
}

.oneLine {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  font-weight: bold;
}

.worksheetBtn {
  position: absolute;
  top: 4px;
  right: 18px;
}

.conflictError {
  position: absolute;
  top: -7px;
  right: 0px;
  transform: translate(-40%, 0%);
}

.friends {
  position: absolute;
  top: 0px;
  left: 8px;
  width: 16px;
  height: 16px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

.icon {
  width: 16px;
  display: block;
}

.profIcon {
  width: 15px;
  display: block;
}

@media (hover: none) {
  .container:hover {
    transform: none;
    cursor: none;
  }
}
