.resultsContainerMaxWidth {
  width: 100%;
}

.gridRow {
  max-width: 1600px;
}

.icon {
  width: 18px;
  display: block;
}

.searchResults {
  overflow: hidden;
}

.searchResultsSmall {
  height: 80vh;
}
