.container {
  transition: 0.1s;
  cursor: pointer;
}

.resultItem:focus,
.resultItem:active {
  border: none;
  outline: none;
}

.resultItem:hover {
  background-color: var(--color-select-hover) !important;
}

.resultItem:not(.inWorksheetResultItem) {
  border-radius: 8px;
  background-color: rgb(245 245 245);
  transition:
    border-color var(--trans-dur),
    background-color var(--trans-dur),
    color var(--trans-dur);
}

[data-theme='dark'] .resultItem:not(.inWorksheetResultItem) {
  background-color: var(--color-surface-elevated);
}

.inWorksheetResultItem {
  background-color: var(--color-primary-light);
}

.seasonTag {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 27px;
}

.courseCodes {
  font-weight: 500;
  color: rgb(38 131 185);
}

.professors {
  font-weight: 550;
}

.smallText {
  font-weight: 500;
}

.oneLine {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  font-weight: bold;
}

.worksheetBtn {
  position: absolute;
  top: 4px;
  right: 18px;
}

.conflictError {
  position: absolute;
  top: -7px;
  right: 0;
  transform: translate(-40%, 0%);
}

.iconContainer {
  fill: var(--color-text);
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  width: 16px;
  display: block;
}

.profIcon {
  width: 15px;
  display: block;
}

@media (hover: none) {
  .container:hover {
    transform: none;
    cursor: none;
  }
}
