.search_bar {
  border-top-left-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

.search_btn {
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-color: #ced4da !important;
}

/* .search_bar:active, */
.search_bar:focus,
/* .search_btn:active, */
.search_btn:focus {
  box-shadow: none !important;
  outline: none !important;
  /* border-color: #ced4da !important; */
}

.search_bar:active,
.search_bar:focus,
.search_bar:active ~ .search_btn_container > .search_btn,
.search_bar:focus ~ .search_btn_container > .search_btn {
  border-color: #92bcea !important;
}

.search_btn:hover {
  background-color: #92bcea !important;
}
