name: Preview CD
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  pull_request:
    branches: [master]

jobs:
  frontend-build-and-deploy:
    environment: 
      name: Preview
      url: https://${{ env.sha_short }}-${{ steps.encode_url_branch.outputs.result }}.preview.coursetable.com
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Shorten SHA
        shell: bash
        run: |
           echo "sha_short=`echo ${{ github.event.pull_request.head.sha }} | cut -c1-8`" >> $GITHUB_ENV
      - name: Encode URL Branch
        id: encode_url_branch
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            return "${{ github.head_ref }}".replace(/[^0-9a-zA-Z\-\.]+/g, "-").slice(-25).match(^[0-9a-zA-Z][a-zA-Z0-9 \-,]+$)
      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install Vercel CLI
        run: bun install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --token ${{ secrets.VERCEL_TOKEN }}
      - name: Deploy to Vercel and Alias Deployment
        run: .github/workflows/deployDomain.sh -t ${{ secrets.VERCEL_TOKEN }} -a ${{ env.sha_short }}-${{ steps.encode_url_branch.outputs.result }}.preview.coursetable.com -b ${{ steps.encode_url_branch.outputs.result }}.preview.coursetable.com -d
