name: Under Maintenance

on:
  workflow_dispatch:

jobs:
  under-maintenance-deploy:
    environment:
      name: Production
      url: https://coursetable.com
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - uses: actions/checkout@v4
        with:
          repository: coursetable/infra
          path: infra
          fetch-depth: 1
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install Vercel CLI
        run: bun install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Pseudo Vercel Build
        run: |
          mkdir -p .vercel/output/static
          cp infra/under_maintenance/site/maintenance.html .vercel/output/static/index.html
          echo '{"version": 3,"routes": [{"src": "/(.*)","headers": {"cache-control": "s-maxage=0"},"dest": "/index.html"}]}' > .vercel/output/config.json
      - name: Deploy to Vercel and Alias Deployment
        run: .github/workflows/deployDomain.sh -t ${{ secrets.VERCEL_TOKEN }} -a staging.coursetable.com
